<div class="row">
  <div class="col-md-12">
    <% @blog_posts.each do |blog_post| %>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3><%= link_to blog_post.title, blog_post %></h3>
        </div>
        <div class="panel-body">
          <p>
            <i class="fa fa-pencil"></i> <em>posted by </em><strong><%= blog_post.user.username %></strong>
          </p>
          <p>
            <i class="fa fa-clock-o"></i><em> at <%= blog_post.created_at.strftime("%I:%M%p on %m/%d/%Y") %></em>
          </p>
          <p>
            <%= blog_post.blog_entry[0..325].html_safe %>...<%= link_to '[READ MORE]', blog_post %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>


